extends _layout.pug

block content
    a(href='/person/download') Download CSV
    p Showing #{personList.length} people
    ul
        each person in personList
            li: a(href=`/person/${person.id}`)= person.name
